# INST326 — Week 1 Exercises (Revised): Library Management Theme  
*Generated on 2025-09-07*

This revision **removes all conditionals and all lists** to align strictly with Week 1 topics.

**Included topics**
- Variables and basic data types (`str`, `int`, `float`, `bool`)
- Basic arithmetic and expressions
- `print()` and formatted strings (f-strings, `.format`)
- `input()` for user input
- String methods: `.strip()`, `.lower()`, `.upper()`, `.replace()`, `.find()`, `.rfind()`, slicing
- Type conversion with `int()`, `float()`, `str()`
- Boolean expressions (compute and print `True/False`) **without branching**

**Excluded topics**
- Conditionals (`if`, `elif`, `else`), ternary expressions
- Lists (and methods like `.split()` which returns a list)
- Loops, dictionaries, files, functions, modules, classes

Each exercise includes a short description and a starter cell. Replace the `# Your code here` section with your work.

## Exercise 1: Book Identity Card

Create variables `title` (str), `author` (str), `year_published` (int), and `isbn` (str).  
Print: `"The Hobbit (1937) by J.R.R. Tolkien — ISBN: 9780261103344"` using an f-string.

In [ ]:
# Your code here
title = "The Hobbit"
author = "J.R.R. Tolkien"
year_published = 1937
isbn = "9780261103344"
print(f"{title} + ({year_published}) by {author} - {isbn}")

## Exercise 2: New Copies on Order

Given integers `current_copies` and `incoming_copies`, compute `total_copies` and print a message like `"Total copies after delivery: 27"`.

In [ ]:
# Your code here
current_copies = 13
incoming_copies = 14
total_copies = current_copies + incoming_copies
print("Total copies after delivery: " + total_copies)

## Exercise 3: Availability Flag (No Branching)

Create `is_available` that is `True` when `current_copies > 0`. Print the boolean value.

In [ ]:
# Your code here
current_copies = 5
is_available = False
if current_copies > 0:
    is_available = True
    print(is_available)

## Exercise 4: Formatting a Call Number

Given `prefix = "QA"`, `section = "76"`, `cutter = "P98"`, combine into `"QA.76.P98"` and print the result.

In [ ]:
# Your code here
prefix = "QA"
section = "76"
cutter = "P98"
combine = prefix + section + cutter 
print(combine)

## Exercise 5: Trim a Title

Ask for a book title. Use `.strip()` to remove leading/trailing spaces and print the cleaned title in quotes.

In [ ]:
# Your code here
book_title = input("Please enter a book title: ")
clean_title = book_title.strip()
print(clean_title)

## Exercise 6: Late Fee (Arithmetic Only)

Ask for days late (integer). Compute the fee at `$0.25` per day, **but never negative**. Use arithmetic (e.g., `max_days = (days + abs(days)) // 2`) or `max()` to ensure non‑negative days. Print `"Late fee: $X.XX"`.

In [ ]:
# Your code here
days_late = input("Days Late: ")
days_lateint = int(days_late)
max_days = (days_lateint + abs(days_lateint)) // 2
fee = max_days * 0.25
print("Late fee: " + fee)

## Exercise 7: Title Length Counter

Given a `title` string, compute the number of characters and print `"Title length: N"`.

In [ ]:
# Your code here
title = "EIJFFBFDBVDHB"
count = 0
def count_letters(title):
   count = 0
   for char in title:
      if char.isalpha():
            count += 1
      return count
print("Title length: " + count)

## Exercise 8: Case-Insensitive Match (Boolean Only)

Let `query = "dune"` and `title = "Dune"`. Compute a boolean `matches` that is `True` when they match ignoring case. Print `matches`.

In [ ]:
# Your code here
query = "dune"
title = "Dune"
matches = False
if query.casefold() == title.casefold():
    matches = True
print(matches)

## Exercise 9: Year Text to Int

Start with `year_text = "2001"`. Convert to int, add 1 to get the next reprint year, then print both values in one sentence.

In [ ]:
# Your code here
year_text = "2001"
year = int(year_text)
next_year = year + 1
print(year,next_year)

## Exercise 10: Shelf Label Alignment

Given `title` and `author`, print a fixed‑width label so titles align. Example: `Title: {title:30}  Author: {author:20}`.

In [ ]:
# Your code here
title = "Diary of a Wimpy Kid"
author = "Jeff Kinney"
print("Title: {title:30}  Author: {author:20}")

## Exercise 11: Basic Price Math

A book costs `$12.50`. A student discount of `$2.00` applies. Compute and print the final price with two decimals.

In [ ]:
# Your code here
book = 12.50
discount = 2.00
price = book - discount
print(f"{price:.2f}")

## Exercise 12: ISBN Normalizer

Given `isbn_raw = " 978-0-261-10334-4 "`, strip whitespace and remove dashes to get `"9780261103344"`.

In [ ]:
# Your code here
isbn_raw = " 978-0-261-10334-4 "
isbn = isbn_raw.strip()

## Exercise 13: Branch Code Normalization

Given `home_branch = "  umd  "`, normalize by stripping spaces and uppercasing. Print the normalized code.

In [ ]:
# Your code here
home_branch = " umd"
revised_string = home_branch.strip()
print(revised_string.upper())

## Exercise 14: Pages-per-Day (Compute Only)

Ask for `total_pages` and `days_until_due`. Compute `pages_per_day = total_pages / max(days_until_due, 1)` to avoid division by zero. Print with 1 decimal place.

In [ ]:
# Your code here
total_pages = input("Total Pages: ")
pages = int(total_pages)
days_until_due = input("Days until due: ")
days = int(days_until_due)
pages_per_day = pages/ max(days,1)
print(f"{pages_per_day}")

## Exercise 15: Call Number Parsing (No Lists)

Given `call_no = "QA.76.P98"`, extract `prefix`, `section`, and `cutter` using `.find()`/`.rfind()` and string slicing only (no `.split()`). Print them in one line.

In [ ]:
# Your code here
call_no = "QA.76.P98"
prefix = call_no.find("QA")
section = call_no.find("76")
cutter = call_no.find("P98")
print(prefix+section+cutter)

## Exercise 16: Basic Type Introspection

Create variables `n = 10`, `price = 9.99`, `title = "Dune"`, `available = True`. Print each value and its type using `type()`.

In [ ]:
# Your code here
n = 10
price = 9.99
title = "Dune"
available = True
print(type(n),n)
print(type(price),price)
print(type(title),title)
print(type(available),available)

## Exercise 17: Concatenate Author Name

Given `first = "Octavia"` and `last = "Butler"`, create `author_full = "Octavia Butler"` and print it.

In [ ]:
# Your code here
first = "Octavia"
last = "Butler"
author_full = first + " " + last
print(author_full)

## Exercise 18: Edition Equality (Boolean Only)

Let `edition_text = "2"` and `edition_num = 2`. Compute `same = int(edition_text) == edition_num` and print `same`.

In [ ]:
# Your code here
edition_text = "2"
edition_num = 2
same = int(edition_text) == edition_num
print(same)

## Exercise 19: Copy Count Update (Arithmetic)

Start with `copies = 3`. Add a returned copy (`+1`) and subtract a lost copy (`-1`). Print the final count (you may change the increments).

In [ ]:
# Your code here
copies = 3
copies += 1
copies -=1
print(copies)

## Exercise 20: Modern Publication (Boolean Only)

Ask for a publication year and compute a boolean `modern = (year >= 2000)`. Print `modern`.

In [ ]:
# Your code here
publication = input("Type in a publication year: ")
year = int(publication)
modern = False
if(year >=2000):
    modern = True
print(modern)

## Exercise 21: Hold Ready (Boolean Only)

Given `hold_ready = True`, print the boolean and a simple message on a single line without branching, e.g., `True — status recorded`.

In [ ]:
# Your code here
hold_ready = True
print(f"{hold_ready} — status recorded")

## Exercise 22: Replace Substring in Title

Let `title = "The Color of Magic"`. Replace `"Color"` with `"Colour"` and print the result.

In [ ]:
# Your code here
title = "The Color of Magic"
new_title = title.replace("Color","Colour")
print(new_title)

## Exercise 23: Keyword Present (Boolean Only)

Given `title = "The Left Hand of Darkness"` and `keyword = "Hand"`, compute `present = title.find(keyword) != -1` and print `present`.

In [ ]:
# Your code here
title = "The Left Hand of Darkness"
keyword = "Hand"
present = title.find(keyword) != -1
print(present)

## Exercise 24: Extract Cutter by Position (No Lists)

With `call_no = "QA.76.P98"`, find the last `'.'` index and slice the cutter part. Print only the cutter.

In [ ]:
# Your code here
call_no = "QA.76.P98"
last_dot_index = call_no.rfind(".")  
cutter = call_no[last_dot_index+1:]

## Exercise 25: Rating Validity (Boolean Only)

Ask for a rating `0–5`. Compute `valid = (rating >= 0) and (rating <= 5)` and print `valid`.

In [ ]:
# Your code here
rating = int(input("Give a rating 0-5: "))
valid = False
if rating>=0 & rating <=5:
    valid = True
print(valid)

## Exercise 26: Tiny Catalog Line

Create `title`, `author`, and `year`. Print `"Title — Author (Year)"` exactly in that format using an f-string.

In [ ]:
# Your code here
title = "Title"
author = "Author"
year = "Year"
print(f"title - author {(year)}")

## Exercise 27: Average Rating (Rounded)

Given `avg_rating = 4.2667`, print it rounded to two decimals using an f-string format specifier.

In [ ]:
# Your code here
avg_rating = 4.2667
print(f"{avg_rating:.2f}")

## Exercise 28: Query Normalization

Ask for a search term via `input()` and normalize it by stripping spaces and lowercasing. Print the normalized query.

In [ ]:
# Your code here
search_term = input("Put in a search term: ")
normalize_term = search_term.strip()
print(normalize_term.lower())

## Exercise 29: Borrower Card Line

Given `name = "Avery"` and `id_num = 1024`, print: `"Borrower: Avery (ID: 1024)"`.

In [ ]:
# Your code here
name = "Avery"
id_num = 1024
print("Borrower: {name} (ID:id_num)")

## Exercise 30: Stock State (No Branching)

Let `copies = 1`. Compute booleans: `none = (copies == 0)`, `single = (copies == 1)`, `many = (copies > 1)`. Print all three in one line.

In [ ]:
# Your code here
copies = 1
none = False
single = False
many = False
if copies == 0:
    none = True
if copies == 1:
    single = True
if copies > 1:
    many = True
print(none,single,many)